body {
    background-image: "assets/images/cloudy-day.png"; 
    width: 100%;

}

h1 {
    font-size: 60px;
    color: red;
    border: solid 5px blue;
    background: white;
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
    font-family: 'Modak', cursive;
}

h2 {
    font-size: 30px;
    color: darkgreen;
    font: bold;
    padding: 10px;
    font-family: 'ZCOOL XiaoWei', serif;
}


.scorecolumn {
    font-size: 40px;
    text-align: center;
    padding: 5px;
    position: relative;
    border-top: blue 2px;
    border-bottom: blue 2px;
    margin-bottom: 5px;
    font-family: 'ZCOOL XiaoWei', serif;
}


span {
    font-size: 15px;
    border: red 2px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: light blue;
}

.background {
    background-image: "assets/images/cloudy-day.png";
    border: black;
}

.container {
    background-color: white;
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5px;
    text-align: center;
    border: black;
    
}

#correctword {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 50px;
    color: blueviolet;
    font: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;

}

#score {
    padding: 20px;
}